adapter driver ftdi
ftdi vid_pid 0x0403 0x70b1
ftdi layout_init 0x0008 0x000b

transport select jtag
adapter speed 3000

# Cadeia JTAG detectada na placa:
jtag newtap xc3s200 tap -irlen 6 -expected-id 0x01414093
jtag newtap platform_flash tap -irlen 8 -expected-id 0xd5044093

# Declara o FPGA como dispositivo programável.
# O driver "virtex2" é usado pelo OpenOCD para carregar bitstreams Xilinx compatíveis.
pld device virtex2 xc3s200.tap
